/* Message styling */
#messages {
   background-color: blue;
   margin: 0px;
   padding-top: 10px;
   padding-bottom: 10px;
   background-image: url("../img/nasty_fabric.png");
}

#messages p {
   width: 100%;
   text-align: center;
   margin: 0px;
   padding: 0px;
   color: white;
   text-shadow: 1px 1px #737373;
   font-size: 16px;
}

body {
   background-image: url("../img/wood_pattern.png");
   overflow-y: auto;
}

#wrapper {
   width: 100%;
   margin: 0px auto;
   padding: 0px;
   min-height: 100px;
}

#reveal_wrapper {
   width: 100%;
}

#reveal_top {
   height: 300px;
   width: 100%;
   padding-top: 15px;
   border-top: 1px solid #737373;
}

#reveal_content {
   width: 100%;
   height: 450px;
   /*background-image: url("../img/vertical_cloth.png");*/
   /*box-shadow: inset 0 -20px 20px -20px black,
      inset 0 20px 20px -20px black;*/
}

#reveal_bottom {
   height: 300px;
   width: 100%;
   /*background-image: url("../img/wood_pattern.png");*/

}

#test_btn {
   width: 160px;
   margin: 0 auto;
   display: block;
}

#result {
   width: 100%;
   height: 100%;
}

#result a img {
   max-height: 80%;
   max-width: 80%;
   margin: 0 auto;
   margin-top: 15px;
   margin-bottom: 15px;
   display: block;
}

#result p {
   text-align: center;
   color: white;
   text-shadow: 1px 1px #737373;
}

#title_false {
   display: block;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   margin: 0px;
   padding: 0px;
   box-shadow: inset 0 20px 20px -20px #404040;
}

#title_true {
   display: block;
   width: 100%;
   background-color: green;
   color: white;
   text-align: center;
   margin: 0px;
   padding: 0px;
   box-shadow: inset 0 20px 20px -20px #404040;
}

.modal-header {
   text-align: center;
}

#result_image {
   max-width: 570px;
   display: block;
   margin: 0 auto;
}

#result_body {
   max-height: 700px;
   overflow-y: auto;
   margin: 0 auto;
}
