body {
   background-color: #d9d9d9;
}

#wrapper {
   width: 90%;
   max-width: 900px;
   margin: 0px auto;
   padding: 0px;
   background-color: white;
   min-height: 100px;
}

#reveal_wrapper {
   width: 100%;
}

#reveal_top {
   height: 300px;
   width: 100%;
   background-color: white;
   padding-top: 15px;
}

#reveal_content {
   width: 100%;
   height: 450px;
   background-color: white;
   box-shadow: inset 0 -20px 20px -20px #4d4d4d,
      inset 0 20px 20px -20px #4d4d4d;
}

#reveal_bottom {
   height: 300px;
   width: 100%;
   background-color: white;
}

#test_btn {
   width: 160px;
   margin: 0 auto;
   display: block;
}

#result {
   width: 100%;
   height: 100%;
}

#result img {
   max-height: 80%;
   max-width: 80%;
   margin: 0 auto;
   display: block;
}
