{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <script src="/static/js/ninja.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="/static/css/ninja.css">
      <title>Are you the ninja?</title>
      <meta name="robots" content="index, follow"/>
      {% block optional_headers %}
      {% endblock %}
   </head>

   <body>
      {% block content %}
      {% endblock %}
   </body>
</html>
