{% extends "_base.html" %}

{% block content %}
<div id="wrapper">

   <div id="messages">
      {% if messages %}
         {% for message in messages %}
         <p class="notice">{{ message }}</p>
         {% endfor %}
      {% endif %}
   </div>

   <div id="reveal_wrapper">
      <div id="reveal_top">
         <button type="button" id="test_btn" class="btn btn-info btn-lg">Well are you?</button>
      </div>
      <div id="reveal_content"></div>
      <div id="reveal_bottom"></div>
   </div>

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog modal-sm" style="width: 300px;margin: 0 auto;">

      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Checking Ninja</h4>
         </div>
         <div class="modal-body">
            <video autoplay="" loop="" muted="" height="270">
               <source type="video/webm" src="/static/img/loading.webm">
            </video>
         </div>
      </div>

   </div>
</div>
<!-- Modal -->

<!-- Modal -->
<div id="resultsModal" class="modal fade" role="dialog" data-backdrop="static">
   <div class="modal-dialog modal-lg" id="result_wrapper" style="width: 600px;margin: 10px auto;">
   </div>
</div>
<!-- Modal -->


{% endblock %}
