{% extends "_base.html" %}


{% block optional_headers %}
<!-- Google -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- Facebook -->
<meta property="og:url"           content="http://areyouthe.ninja/ninja/{{ ninja_result.uuid }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Are You The Ninja?" />
<meta property="og:description"   content="Test yourself to see if you are the all-powerful ninja/" />
<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
{% endblock %}

{% block content %}

{% include "facebook_share.html" %}
<div id="wrapper">

   <div id="messages">
      {% if messages %}
      {% for message in messages %}
      <p class="notice">{{ message }}</p>
      {% endfor %}
      {% endif %}
   </div>

   <div id="reveal_wrapper">
      <div id="reveal_top">
         <button type="button" id="test_btn" class="btn btn-info btn-lg">Well are you?</button>
      </div>
      <div id="reveal_content"></div>
      <div id="reveal_bottom"></div>
   </div>

</div>

<div id="ninja_past"></div>

<!-- Modal -->
<div id="resultsModal" class="modal fade" role="dialog" data-backdrop="static">
   <div class="modal-dialog modal-lg" id="result_wrapper" style="width: 600px;margin: 10px auto;">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">{{ ninja_result.message }}</h4>
         </div>
         <div class="modal-body" id="result_body">
            <a href="{{ ninja_result.image }}" target="_blank"><img id="result_image" src="{{ ninja_result.image }}"></a>
         </div>
         <div class="modal-footer" id="modalFooter">
            <h4>Share Your Results</h4>
            <div id="share_buttons">
               <a href="/ninja/{{ ninja_result.uuid }}" target="_blank">Direct Link</a>
               <div id="facebook_wrapper">
                  <div class="fb-share-button" data-href="http://areyouthe.ninja/ninja/{{ ninja_result.uuid }}" data-layout="button"></div>
               </div>
               <div id="google_wrapper">
                  <div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://areyouthe.ninja/ninja/{{ ninja_result.uuid }}"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Modal -->

{% endblock %}